.carta-container {
    width: 100%;
    background-color: var(--background);
    padding: 40px 0;
}

.filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
}

.filter button {
    cursor: pointer;
    width: 180px;
}

.filter button:focus {
    outline: none;
}

.filter button:hover {
    background-color: var(--icon);
    color: var(--text);
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.active-btn {
    cursor: default;
    background-color: var(--icon);
}

.active-btn:hover {
    cursor: default;
}

.carta {
    display: grid;
    padding-right: 20px;
    padding-left: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}

.item-container {
    border: 2px solid var(--icon);
    border-radius: 5px;
    border-style: dashed;
    padding: 20px;
}

.item-container h2 {
    font-size: 19px;
    margin: 0;
}

.item-container p {
    font-size: 16px;
    margin: 10px 0 0 0;
}

.iva {
    text-align: center;
    font-size: 14px;
    padding-top: 30px;
}

@media screen and (max-device-width: 800px) {

    .filter button {
        width: 90%;
    }

    .carta-container {
        padding-top: 80px;
    }
}