.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 650px;
}

.hero h1 {
    font-size: 70px;
    padding: 10px;
    margin: 100px 0 0 0;
}

.hero span {
    padding-left: 15px;
    color: var(--icon);
}


.hero h2 {
    font-size: 24px;
    margin: 0;
    font-family: 'Julee', cursive;
}

.hero-btn {
    margin: 20px;
}

.hero-btn button {
    padding: 15px 25px;
    margin: 10px;
    width: 200px;
}

.hero-btn .icon {
    margin-right: 10px;
    font-size: 18px;
}

.hero-btn button:hover {
    background-color: var(--icon);
    color: var(--text);
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.hero-btn button:hover .icon {
    color: var(--text);
}

.carne {
    width: 480px;
    object-fit: contain;
    position: relative;
    left: 380px;
    bottom: 100px;
    opacity: 0.99;
    filter: drop-shadow(5px 10px 5px rgb(0, 0, 0));
}

@media screen and (max-device-width: 600px) and (min-device-width: 366px) {

    .hero h1 {
        font-size: 36px;
        margin: 120px 0 0 0;
    }

    .hero h2 {
        font-size: 20px;
    }

    .hero span {
        padding-left: 10px;
    }

    .hero-btn {
        display: block;
        text-align: center;
    }


    .carne {
        width: 340px;
        left: 100px;
        bottom: 10px;
    }

}

@media screen and (max-device-width: 365px) {
    .hero h1 {
        font-size: 36px;
        margin: 120px 0 0 0;
        text-align: center;
    }

    .hero h2 {
        font-size: 20px;
    }

    .hero span {
        padding-left: 10px;
    }

    .carne {
        width: 340px;
        left: 100px;
        bottom: 30px;
    }

    .hero-btn {
        display: block;
        text-align: center;
    }

}