.reviews-component {
    background-color: var(--background);
    width: 100%;
    height: 425px;
    margin-top: 50px;
}

h3 {
    padding: 40px 0 20px 0;
    margin: 0;
}

.reviews {
    display: flex;
    overflow-x: scroll;
    align-items: center;
    padding-bottom: 20px;
    z-index: 0;
}

.review {
    margin-right: 20px;
    width: 350px;
}


.review:hover {
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--text);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--icon);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--background);
}

@media screen and (max-device-width: 800px) {
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: transparent;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }

    .reviews-component {
        height: auto;
    }

    .reviews {
        padding-bottom: 30px;
    }
}