.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    font-size: 12px;
}

.icon {
    color: var(--icon);
    font-size: 14px;
    margin-right: 10px;
}

.info span {
    margin-right: 20px;
}

.flag {
    width: 24px;
    margin-top: 5px;
    cursor: pointer;
}

.flag:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

@media screen and (max-device-width: 800px) {
    .flag {
        width: 30px;
    }
}
