.gallery-container {
    padding: 40px 0;
}

.gallery-container h1 {
    text-align: center;
    font-family: 'Julee', cursive;
    font-size: 32px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    padding: 20px 0;
}

.img-gallery {
    border-radius: 10px;
}

.img-gallery:hover {
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 2px 10px 35px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 10px 35px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 10px 35px 1px rgba(0, 0, 0, 0.75);
}

@media screen and (max-device-width: 800px) {
    .gallery-container {
        padding: 80px 0 40px 0;
    }
}