.nosotros-container {
    width: 100%;
    background-color: var(--background);
    padding: 40px 0;
}

.nosotros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
}

.nosotros-container h1 {
    font-family: 'Julee', cursive;
    font-size: 32px;
}

.nosotros img {
    width: 340px;
    height: 340px;
    object-fit: contain;
    box-shadow: 2px 10px 35px 1px rgba(0, 0, 0, 0.75);
}

.historia {
    width: 40%;
}

.historia p {
    font-style: italic;
    letter-spacing: 2px;
    line-height: 40px;
    margin: 0;
}

.historia svg {
    color: var(--icon);
    margin: 0 10px;
}

.historia svg:nth-child(1) {
    margin-left: 0;
}

@media screen and (max-device-width: 800px) {
    .historia {
        width: 90%;
    }

    .nosotros-container {
        padding-top: 80px;
    }

    .nosotros img {
        margin-bottom: 40px;
    }
}