
:root {
  --text: #fff;
  --icon: #ce9e71;
  --dark: #242424;
  --background: #ce9e7196;
}


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Oswald', sans-serif;
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  html {
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -webkit-transform-origin: left top;
      transform-origin: left top;
      width: 100vh;
      overflow-y: hidden;
      position: absolute;
      top: 100%;
      left: 0;
  }
}

body {
  margin: 0;
  color: var(--text);
  font-weight: normal;
  letter-spacing: 2px;
  overflow: hidden;
  background-color: var(--dark);
}

h1,
h2,
h3,
p {
    letter-spacing: 2px;
    font-weight: 400;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 18px;
}


.container {
    margin-left: 3.6vw;
    margin-right: 3.6vw;
}

a {
    text-decoration: none;
    color: var(--text);
}

i {
    color: var(--icon);
    margin-left: 15px;
    margin-right: 6px;
}

button {
  border: 2px solid var(--icon);
  border-radius: 30px;
  padding: 15px 25px;
  background: none;
  text-transform: uppercase;
  margin: 5px 5px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 18px;
  color: var(--text);
}

