footer {
    bottom: 0;
    right: 0;
    background-color: var(--dark);
    height: auto;
    width: 100vw;
    padding: 10px;
    text-align: center;
    z-index: -1;
}

.footer-social {
    color: var(--text);
    font-size: 30px;
    padding: 5px 10px;
}

.footer-social:hover {
    color: var(--icon);
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

footer p {
   font-size: 14px;
   line-height: 28px;
   margin: 0;
}